<h1>Detalle de Usuario</h1>

<% if notice %>
<div id="notice"  class="alert alert-success">
			<button class="close" type="button" data-dismiss="alert">x</button>
			<strong><%= notice %></strong>
</div>
<% end %>
<div>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  
  <p>
    <strong>Mail:</strong>
    <%= @user.mail %>
  </p>
  
  <p>
    <strong>Rol:</strong>
    <%= @user.rol ? 'Administrador' : 'Cliente' %>
  </p>
</div>
<%= link_to 'Editar', edit_user_path(@user), :class => 'btn btn-sq' %> |
<%= link_to 'Devolverse', users_path, :class => 'btn btn-sq' %>
